.point {
    // width: 100%;

    .sectitle {
        .title {
            position: relative;
            width: max-content;
            color: rgb(238, 19, 19);
            margin: 1rem 0;
            z-index: 2;

            &::after {
                position: absolute;
                content: '';
                background: orchid;
                height: 5px;
                width: 120px;
                right: 0;
                bottom: 5px;
                z-index: -1;
            }
        }

    }

    .secContent {
        justify-content: center;
        gap: 1.5rem;
        // grid-template-columns: 33% 33% 33%;
        // width: 100%;

        .First{
            height: 100%;
            display: grid;
            row-gap: 10px;
            border-radius: 10px;
            background: rgb(227, 237, 242);
            align-items: center;
            box-shadow: 0 2px 4px rgb(209, 154, 154);
            overflow: hidden;

            &:hover{
                background: rgb(85, 68, 36);
                box-shadow: 0 4px 4px rgb(247, 210, 210);
                transition: .3s ease;

            }

            .Divimg{
                height: 180px;
                width: 100%;
                overflow: hidden;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    transition: 2s ease;
                }

                &:hover {
                    img {
                        transform: scale(1.1);
                    }

                }

            }

            .cardinfo {
                padding: 1rem;

                .destitle {
                    color: black;
                    font-size: 1.25rem;

                }

                .continent {
                    gap: 0.5rem;


                    .icon {
                        font-size: 18px;
                    }

                    .name {
                        color: rgb(13, 13, 13);
                        font-weight: 400;
                        font-size: 14px;

                    }

                }

                .fees {
                    width: 100%;
                    justify-content: space-between;
                    padding: 1rem;
                    margin: 1rem 0;
                    border-top: 1.5px solid rgb(167, 241, 57);
                    border-bottom: 1.5px solid greenyellow;

                    .grade {
                        color: blue;
                        max-width: 100px;
                        line-height: 20px;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        small {
                            text-align: center;
                            background: black;
                            border-radius: 1rem;
                            color: white;
                            padding: 1px 10px;
                            font-size: 10px;
                        }
                    }

                    .price {
                        font-size: 2rem;
                        color: black;
                    }

                }

                .desc {
                    font-size: 13.5px;
                    font-weight: 500;
                }

            }



        }

    }
}

@media screen and (min-width:500px) {
    .title{
        font-size: 1.5rem;
        &::after{
            width: 155px !important;
        }
    }

    .secContent{
        grid-template-columns: repeat(2,1fr);

        .First{
            height: auto;
        }
    }
}

@media screen and (min-width:840px) {
    .secContent{
        grid-template-columns: repeat(3,1fr);

        .First{
            height: auto;
        }
    }
}